@font-face {
    font-family: "Instrument Sans";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/instrumentsans-medium.woff2') format('woff2');
}

:root {
    /* New vars */
    /* --color-primary: #806AB1; */
    --color-primary: #D3E5B6;
    --color-black: #1C1C1C;
    --font-sans: "Instrument Sans", Inter, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --letter-spacing: -0.02em;
    --letter-spacing-s: 0.01em;
    --line-height: 1.4;
    --line-height-s: 1.2;
    --medium-weight: 500;
    --border-thickness: 1px;
    --transition: all ease-in-out 0.3s;
    /* Modular scale: https://www.modularscale.com/?18&px&1.2 */
    --font-size-l: calc(1.25rem + 0.2vw); /* 20px */
    --font-size: calc(1.125rem + 0.2vw); /* 18px */
    --font-size-s: calc(0.9rem + 0.2vw); /* 16px */
    --font-size-xs: calc(0.8rem + 0.2vw);

    --width: 80rem;
    --max-width: min(var(--width), calc(100% - var(--layout-space)));
    --max-width-content: min(30em, 100%);
    --space-5xl: 5em;
    --space-4xl: 3em;
    --space-3xl: 2em;
    --space-2xl: 1.5em;
    --space-xl: 1.25em;
    --space-l: 1.125em;
    --space: 1em;
    --space-s: 0.7em;
    --space-xs: 0.5em;
    --space-2xs: 0.3em;
    --space-3xs: 0.2em;
    --space-4xs: 0.1em;
    --layout-space-3xl: calc(6rem + 10vw);
    --layout-space-2xl: calc(6rem + 6vw);
    --layout-space-xl: calc(6rem + 4vw);
    --layout-space-l: calc(6rem + 3vw);
    --layout-space-m: calc(6rem + 1vw);
    --layout-space: calc(3rem + 2vw);
}

/**
* Reset
*/

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    white-space: nowrap;
    border-width: 0;
}

/**
* Styles
*/
/* Base */
body {
    position: relative;
    font-family: var(--font-sans);
    text-rendering: optimizeSpeed;
    font-kerning: normal;
    background-color: var(--color-black);
    color: var(--color-primary);
    line-height: var(--line-height);
    font-size: var(--font-size);
    font-weight: var(--medium-weight);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}
.wrapper {
    max-width: var(--max-width);
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(12,minmax(0,1fr));
    grid-gap: 2rem;
}
.flow > * + * {
    margin-top: var(--space);
}
article {
    max-width: var(--max-width-content);
}
/* Type */
h1, 
h2 {
    line-height: var(--line-height-s);
    font-weight: var(--medium-weight);
    letter-spacing: var(--letter-spacing);
}
h1 {
    font-size: var(--font-size);
}
h2 {
    font-size: var(--font-size);
    text-decoration: none;
    line-height: 1;
}
/* Hero */
.hero {
    padding-block-start: var(--layout-space-l);
    padding-block-end: var(--space-l);
    background-color: var(--color-primary);
    background-image: url("hero-bg.svg");
    background-size: 60vw auto;
    background-position: 40vw -5vw;
    background-repeat: no-repeat;
}
.hero-sub {
    grid-column: 1 / 12;
    color: var(--color-black);
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height-s);
    font-size: var(--font-size-s);
}
.hero-logo {
    color: var(--color-black);
    grid-column: 1 / 12;
    width: 100%;
}
.hero-logo svg {
    width: 100%;
    max-width: 100%;
}
/* Content */
main {
    position: relative;
}
.fixed-sidebar {
    display: none;
}
section,
section h2,
.section-content {
    grid-column: 1 / 12;
}
section h2 {
    margin-bottom: var(--space-l);
}
section:first-of-type {
    margin-top: var(--layout-space-s);
}
section {
    margin-top: var(--layout-space-l);
    border-top: var(--border-thickness) solid var(--color-btn);
    padding-top: var(--layout-space);
}
section + section {
    border-top: var(--border-thickness) solid var(--color-primary);
}
.peopleList {
    margin-block-start: unset;
    list-style-type: none;
    padding: unset;
    columns: 2;
    gap: 1.5rem;
}
.peopleList li {
    position: relative;
    padding-block-end: var(--space);
    padding-inline-start: var(--space-2xl);
    page-break-inside: avoid;
    line-height: var(--line-height-s);
}
.peopleList li::before {
    position: absolute;
    display: block;
    left: var(--space-2xs);
    content: '\2217';
}
a {
    color: var(--color-text);
    text-decoration-thickness: 0.06rem;
    text-underline-offset: .15rem;
}
a:hover,
a:active {
    color: var(--color-heading);
}
a:focus-visible {
    outline: var(--border-thickness) solid var(--color-primary);
    outline-offset: 0.15em;
    text-decoration: none;
}
footer {
    margin-block-start: var(--layout-space-2xl);
    border-top: var(--border-thickness) solid var(--color-primary);
    padding-top: var(--space-xl);
    overflow: hidden;
}
.footer-top {
    grid-column: 1 / end;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-end {
    margin-block-start: var(--space-xl);
    overflow: hidden;
}
.footer-end img {
    margin-block-end: -8vw;
}
.noise {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: url('black-noise.jpg') repeat;
    background-size: 600px;
    mix-blend-mode: difference;
    opacity: .25;
    z-index: 9999;
}
@media only screen and (min-width: 40em) {
    .hero-sub {
        grid-column: 8 / 11;
    }
    .fixed-sidebar {
        display: flex;
        grid-column: 1 / 3;
        max-width: 6rem;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        position: sticky;
        top: 0;
    }
    .fixed-sidebar img {
        width: 100%;
        object-fit: contain;
    }
    .clock {
        margin-top: var(--space-l);
        color: var(--color-primary);
        width: 100%;
    }
    section {
        grid-column: 3 / end;
        display: grid;
        grid-template-columns: repeat(9,minmax(0,1fr));
        grid-gap: 2rem;
    }
    section h2 {
        grid-column: 1 / 2;
    }
    .section-content {
        grid-column: 3 / end;
    }
    .footer-end {
        margin-block-start: var(--space-2xl);
    }
}
@media only screen and (min-width: 50em) {
    section h2 {
        grid-column: 1 / 4;
    }
    .section-content {
        grid-column: 5 / end;
    }
    .footer-top {
        flex-direction: row;
        justify-content: space-between;
    }
}